/* Box Model Hack */
* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}
body{
    background: url("../img/book.jpg");
    background-position: center;
    background-attachment: fixed;
   -webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    zoom: 67%;
}

#container{
    width: 90%;
    margin: 0 auto 0 auto;
}

#header{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}

#main{
    padding: 50px;
    background: white;
    width: 70%;
    float: left;
}

#sidebar{
    padding: 50px;
    background: white;
    width: 28%;
    float: left;
    margin-left: 15px;
    border-left: 5px solid rgb(136, 135, 135);
}

.me{
    height: 300px;
    width: 320px;
    border-radius: 50%;
    -ms-transform: rotate(30deg); /* IE 9 */
    transform: rotate(30deg);
}

img{
    width: 700px;  
    padding-top: 10px;
}

#footer{
    color: rgb(255, 255, 255);
}

.course{
    color: lightgreen;
}

.clear {
   clear: both;
}

hr.solid {
    border-top: 3px solid #bbb;
}

.quote {
    border-left: 5px solid rgb(145, 145, 145);
    
  }

.q1{
    font-size: large;
    font-style: italic;
    color: rgb(88, 88, 88);
}

.subm{
    color: grey;
}

p{
    font-size: 20px;
    padding: 10px;
}

a{
    color: rgb(184, 49, 0);
    text-decoration: none;   
}

li{
    padding-bottom: 5px;
    font-style:inherit;
}

h1{
    margin-bottom: 0;
}
h4{
    margin-top: 0;
}
h5{
    font-size: medium;
}
#main h1{
    font-size: 80px;
    margin: 5px 0;
}


